<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ciferr - Home</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="shortcut icon" type="image/png" href="images/favicon.ico" />

</head>
<body>
    <header>
        <div class="main">
            <div class="logo">
                <a href="index.html">
                    <h1>CIFERR</h1>
                </a>
            </div>
            </div>
            <ul>
                <li class="active"><a href="">Home</a></li>
                <li><a href="">Home</a></li>
                <li><a href="indexcontact.html">CONTACT</a></li>
                <li><a href="">SERVICES</a></li>
                <li><a href="">ABOUT</a></li>
            </ul>
        </div>
        <div class="title">
            <h1>WELCOME TO CIFERR!</h1>
            <p>The Online Web App You Can Trust</p>
        </div>

        <div class="button">
            <a href="login.html" class="btn">SIGN UP</a>
            <a href="" class="btn">EXPLORE</a>
        </div>
    </header>

    <footer>

    </footer>
</body>
</html>