<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ciferr - Registration</title>
    <link rel="stylesheet" href="login_style.css">
    <link rel="shortcut icon" type="image/png" href="images/favicon.ico" />
</head>
<body>
    <div class="main">
        <div class="logo">
            <a href="index.html">
                <h1>CIFERR</h1>
            </a>
        </div>
    </div>
    <div class="box">
        <h2>Log in</h2>
        <form>
                <div class="inputBox">
                    <input type="text" name="" required="">
                    <label>Username</label>
                </div>
            <div class="inputBox">
                <input type="password" name="" required="">
                <label>Password</label>
                

            </div>
            <input type="submit" name="" value="submit">
            <p class="message"> Not Registered?  <a href="login2.html">Sign up</a></p>
        </form>


    </div>
</body>
</html>
